<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Stock Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
	  <div class="jumbotron">
	    <h1>Stock Exchange File Upload</h1> 
	    <p>Use the form below to upload a list of stocks.
        Click <a href="/template">here</a> for an example template.</p>
	    <form action="/" method="POST" encType="multipart/form-data">
			<div class="form-group">
				<label for="email">File:</label>
			</div>
	        <input type="submit" class="btn btn-default" value="Upload File" />
	    </form>
	  </div>
	</div>
    
</body>
</html>